.invalid-feedback {
    margin-top: -.25rem !important;
}
span {
    color: #040404;
}
.image-size{
	max-height: 140px !important;
}
.bg-light-green{
    background-color: #f5ffd7e0;;
}
.bg-body-green{
        background-color: #91d2ab3b;
}
.form-label{
    color: #cf51a4 !important;
}

@media only screen and (max-width: 600px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
  }
  .navbar-collapse{
    background-color: #c2e0a694 !important;
  }
  .ftco-navbar-light{
    padding: 5px 15px 0px 15px !important;
  }
  .navbar-collapse>.navbar-nav>.nav-item{
    border-bottom: 1px solid;
  }
}